<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/book/{id}(id=${book.getId()})}" th:object="${book}">
    <label for="vendorCode">Enter vendorCode: </label>
    <input type="text" th:field="*{vendorCode}" id="vendorCode"/>
    <div  th:if="${#fields.hasErrors('vendorCode')}" th:errors="*{vendorCode}">VendorCode Error</div>
    <br/>
    <label for="title">Enter vendorCode: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <div  th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</div>
    <br/>
    <label for="year">Enter year: </label>
    <input type="text" th:field="*{year}" id="year"/>
    <div th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year Error</div>
    <br/>
    <label for="brand">Enter brand: </label>
    <input type="text" th:field="*{brand}" id="brand"/>
    <div  th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}">Brand Error</div>
    <br/>
    <label for="stock">Enter stock: </label>
    <input type="text" th:field="*{stock}" id="stock"/>
    <div th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}">Stock Error</div>
    <br/>
    <label for="price">Enter price: </label>
    <input type="text" th:field="*{price}" id="price"/>
    <div  th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</div>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>
